@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dokdo|Love+Ya+Like+A+Sister|Nanum+Pen+Script|Rock+Salt');

// @import "@material/typography/mdc-typography";

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: justify;
}

.text--center {
  text-align: center;
}
.text--uppercase {
  text-transform: uppercase;
}
.font--light {
  font-weight: 300;
}
.font-family--raleway {
  font-family: 'Raleway', sans-serif;
}
.font-family--rock-salt {
  font-family: 'Rock Salt', cursive;
}
