/*
 * Color variables
 */
$background-color: #FAFAFA;

$primary-color: #47b562;
$primary-color-hue1: #70e08c;
$primary-color-hue2: #2e8f46;

$secondary-color: #EEEEEE;
$secondary-color-hue1: #E5E5E5;
$secondary-color-hue2: #4E4E4E;
$on-light-bg: #000000;
$on-dark-bg: #FAFAFA;

/*
 * Material Design Theme
 */
// $mdc-theme-primary: #47b562;
// $mdc-theme-on-primary: #222222;
// $mdc-theme-secondary: #EEEEEE;
// $mdc-theme-on-secondary: #222222;
// $mdc-theme-background: #FAFAFA;
// $mdc-theme-surface: #E5E5E5;
