@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// @import "@material/typography/mdc-typography";

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.text--center {
  text-align: center;
}
.text--uppercase {
  text-transform: uppercase;
}
.font--light {
  font-weight: 300;
}
.font-family--raleway {
  font-family: 'Raleway', sans-serif;
}
