.grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content auto min-content 85px;
}
@media only screen and (max-width: 767px) {
  .grid {
    grid-template-rows: 72px min-content auto min-content 85px;
  }
}
