@import './assets/theme/variables.scss';
@import './assets/theme/typography.scss';

:root, html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body div {
  box-sizing: border-box;
}

.content {
  margin: 16px;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 64px auto 112px;
}
.section__headline {
  font-family: Raleway, sans-serif;
  margin-bottom: 8px;
}

/*
 * Topp app bar section
 */
.grid > .section__top {
  grid-row: 1;
}
.top-app-bar {
  height: 100px;
  display: flex;
  flex-flow: row;
  background-color: $mdc-theme-secondary;
  padding: 16px;
}
.top-app-bar__title {
  flex: initial;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
}
/*
 * Navigation section
 */
.grid > .section__navigation {
  grid-row: 2;
  display: flex;
  flex-flow: row;
  background-color: $secondary-color-hue1;
  padding: 16px;
  align-items: center;
  border-bottom: 3px solid $mdc-theme-primary;
}
.grid > .section__navigation > div {
  flex: auto;
  align-self: center;
}
/*
 * Footer section
 */
.section__footer {
  background-color: $secondary-color-hue1;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 32px;
}
.section__footer .footer__left {
  flex: initial;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.section__footer .footer__right {
  flex: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}
/*
 * Responsive properties
 */
@media only screen and (max-width: 479px) {
  .grid {
    grid-template-rows: 100px auto 300px auto;
  }
  .top-app-bar__title {
    flex: auto;
  }
  .grid > .section__navigation {
    flex-flow: column;
  }
  .section__footer {
    flex-flow: column;
  }
  .section__footer .footer__right > p {
    font-size: 10px;
  }
}
